login-page {
    .totvs-login-title {
      color: #0c9abe;
      font-size: 18px;
      font-weight: bold;
      padding-top: 20%;
      padding-bottom: 20%;
    }
  
    .totvs-login-form {
      width: 100%;
  
      border: 1px solid #e4e7e7;
      border-radius: 3px;
      margin-bottom: 5px;
  
      .show-pass {
        .label, .label-md, .label-ios {
          font-size: 12px;
        }
      }
    }
  
    .item, .item-md, .item-ios {
      padding-left: 0px;
    }
  
    .label, .label-md, .label-ios {
      padding-left: 16px;
      color: #778588;
    }
  
    .input, .input-md, .input-ios {
      padding-left: 16px;
  
      .text-input-clear-icon {
        color: #4a5c60;
        right: 0px;
        background-color: transparent;
      }
    } 
  
    .button, .button-md, .button-ios {
      margin-bottom: 5px;
    } 
  
    .icon-bt {
      background: #FFFFFF;
      border: none;
      color: initial;
    }
  
    .icon, .icon-md, .icon-ios {
      padding-top: 5px;
      font-size: 1.9em;
    }
  
    .icon-ios {
      font-size: 2.1em;
    }
  
    .item-md [item-right], .item-ios [item-right] {
      margin: 0px;
    }
  }